*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #58A399;
}
.container{
    padding: 40px;
	width: 180px;
	height: 250px;
	background-color: #496989;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 15px;
}

input[type="number"], .selector{
	width: 95%;
	height: 30px;
	border: 1px solid;
	border-radius: 10px;
	padding-left: 10px;
	margin-block: 5px;
    font-family: monospace;
	font-size: 18px;
}
::placeholder {
	font-family: monospace;
	font-size: 18px;
}
button {
	display: grid;
	margin: auto;
	color: black;
	background-color: white;
	font-size: 20px;
	border-radius: 30px;
	font-family: monospace;
	width: 100px;
	height: 35px;
}
#converted{
    text-align: center;
    color: white;
    padding-top: 20px;
}
h1{
    text-align: center;
    color: white;
    padding-top: 50px;

}